*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    max-width: 100%;
}

body{
    background-color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
  
}
h1{
    text-align:center;
}

nav{
    background-color: rgba(246, 52, 4, 0.671);
    height: 100%;
    padding:5px; 
}
.nav-container{
    display:flex;
    flex-direction:row;
    height:60px;
    align-items:center;
    justify-content:space-between;
    margin-right: 25px;
    margin-left: 25px;
}
.nav-user{
    display:flex;
    flex-direction:row;
    gap:15px;

}

.nav-user a{
     display:flex;
     align-items:center;

}



a{
    text-decoration: none;
    color:white;  
    font-size:15px;
    padding:8px;
    border:2px solid rgb(172, 128, 8);
    background-color: rgb(207, 159, 26);
    border-radius:5px;

}
a:hover{
    background-color: rgb(109, 81, 4);
    border:2px solid rgb(109, 81, 4);
}

.logo a{
    font-size:20px;
    border:none;
    background-color:transparent;
}



i{
    font-size: 25px;
}

.btn{
    width: 150px;
    text-align:center;
    color:white;
    padding:5px;
    border-radius:5px;
    background-color: rgb(109, 81, 4);
    border:2px solid rgb(109, 81, 4);
    margin-top: 20px;

}
.container{
    display:flex;
    padding:35px;
    flex-direction:column;
    gap:20px;
    color:white
}

/* CREATE ACCOUNT STYLES */

.input-container{
    display:flex;
    flex-direction:column;
    width: 30%;
    gap:8px;
    margin-bottom: 5px;
}

form{
    display:flex;
    flex-direction:column;
    align-items:center;

}
.books-container{
    width:100%
}

.book-card{
    padding:5px;
    max-width:300px;
    height:auto;
    border:1px solid rgb(255, 136, 0);
    background-color:rgba(190, 189, 188, 0.497);
    border-radius:5px;
}
.buttons-div{
    display:flex;
    flex-direction: row;
    gap:5px;

}