* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(178, 204, 99);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section {
    padding: 60px 0;
}

section.flash-section {
    padding: 60px 0 0;

    .flash-messages {
        padding: 10px;
        background-color: white;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);

        .error {
            color: crimson;
        }

        .success {
            color: midnightblue;
        }
    }
}

nav {
    padding: 20px 0;
    background-color: rgb(120, 162, 4);
    
    .nav.container{
        max-width: 1200px;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
    }

    a {
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 30px;
        color: white;
    }

    a:hover {
        background-color: rgb(34, 108, 4);
        color: rgb(242, 238, 238);
    }

    
    button {
        background-color: rgb(4, 160, 152);
    }
    
    button:hover {
        background-color: rgb(7, 130, 138);
        color: black;
    }
}

.container {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
}

button,
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(6, 147, 166);
    color: rgb(248, 245, 245);
    margin: 15px 0;
    border-radius: 30px;
    text-decoration: none;

    .btn {
        padding: 0;
        margin: 0;
    }

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        color: white;
    }
}

button:hover,
.btn:hover {
    background-color: rgb(4, 119, 186);
    color: white;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 15px;
}

form {
    .input-container {
        margin: 15px 0;
        display: flex;
        flex-direction: column;
        gap: 5px;
        max-width: 400px;
       
       
        
        label {
            text-transform: capitalize;
            font-weight: 400;
        }

        input {
            width: 100%;
            height: 30%;
        }
    }
}

p {
    margin-bottom: 5px;
}

p:last-of-type {
    margin: 0;
}

ul {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    li {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 15px;
        border-radius: 5px;
        background-color: ivory;

        h3 {
            width: 100%;
        }


        p.empty-note {
            color: rgb(46, 168, 111);
            font-style: italic;
        }

        .buttons-div {
            display: flex;
            gap: 10px;
        }
    }
}